* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #3C3F41;
    --border: #515151 solid 1px;
    --sideBorder: 1px solid #353536;
    --color: #BBBBBB;
}

.hLogo {
    width: 103px;
    height: 103px;

    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background);
    border: var(--border);

    animation-name: intro;
    animation-duration: 1s;
    transition: all 0.25s ease;
}

.hLogoImg {
    animation-name: introImg0;
    animation-duration: 1s;
    pointer-events: none;
    transition: all 0s ease;
}

.hLogoImg1 {
    position: fixed;
    height: 105px;
    transform: translateX(300px);
    animation-name: introImg1;
    clip-path: polygon(0 0, 14% 0, 14% 100%, 0 100%);
    animation-duration: 1s;
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
}

@keyframes introImg0 {
    from {
        height: 132px;
        opacity: 0;
    }
    50% {
        height: 132px;
        opacity: 0;
    }
    to {
        height: 66px;
        opacity: 1;
    }
}

@keyframes introImg1 {
    from {
        transform: translateX(0px);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity: 1;
        height: 210px;
    }
    25% {
        transform: translateX(0px);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        height: 210px;
    }
    50% {
        transform: translateX(600px);
        clip-path: polygon(0 0, 14% 0, 14% 100%, 0 100%);
        opacity: 1;
        height: 210px;
    }
    to {
        transform: translateX(300px);
        clip-path: polygon(0 0, 14% 0, 14% 100%, 0 100%);
        opacity: 0;
        height: 105px;
    }
}

@keyframes intro {
    from {
        left: 0;
        top: 0;
        min-width: calc(100vw - 2px);
        width: calc(100vw - 2px);
        height: calc(100vh - 2px);
        background: var(--background);
        border: var(--border);
    }
    50% {
        left: 0;
        top: 0;
        min-width: calc(100vw - 2px);
        width: calc(100vw - 2px);
        height: calc(100vh - 2px);
        background: var(--background);
        border: var(--border);
    }
    to {
        min-width: 103px;
        width: 103px;
        height: 103px;
        background: var(--background);
        border: var(--border);
    }
}